.container {
  min-height: 100px;
  padding: 20px;
}
.saveBtn {
	margin-left: 10px;
	margin-right: 10px;
}
.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.footer a {
  color: gray;
}
.row {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}
label {
	margin-right: 10px;
}
